.account-wrapper {
    .card-box {
        margin-top: 1.25rem;
        min-height: calc(100% - 9.125rem);
        height: auto;
        flex-wrap: wrap;
        align-content: flex-start;

        .el-card {
            width: 28.75rem;
            height: 18.75rem;
            border-radius: 0.625rem;
            background-color: #2B325E;
            border: 0;
            margin-right: 1.25rem;
            margin-bottom: 1.25rem;

            .el-card__body {
                display: flex;
                flex-flow: row;
                height: 100%;
                padding: 1.25rem;
                box-sizing: border-box;
            }

            .info {
                color: #fff;
                flex: 1;
                overflow: hidden;

                h4 {
                    margin-top: 1rem;
                    font-size: 1.125rem;
                }

                .accounts-num {
                    font-size: 1.875rem;
                    font-weight: bold;
                    margin-top: 5rem;
                    margin-bottom: 6rem;
                }

                .el-link {
                    font-size: 0.875rem;
                    color: #fff;

                    &:hover {
                        color: #03C571;
                    }
                }
            }

            img {
                width: 9.375rem;
                height: 6.25rem;
            }
        }
    }

    .clear-btn {
        width: 7.5rem;
        height: 2.5rem;
        line-height: 1;
        font-size: 0.75rem;
        border-radius: 0.375rem;
        background-color: #2B325E;
        border: 0;
        color: #fff;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: #03C571;
            color: #fff;
            border: 0;
        }
    }
}

.account-wrapper,
.profiles-group-wrapper {
    >h3 {
        height: 1.25rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 1.375rem;
    }

    .account-select,
    .profiles-select {
        width: 7.5rem;
        height: 2.5rem;
        line-height: 1;
        border-radius: 0.375rem;

        input {
            background-color: #2B325E;
            padding-left: 0.625rem;
        }
    }
}

.profiles-group-wrapper .list-box,
.account-detail-wrapper .list-box {
    background-color: #2B325E;
    margin-top: 1.25rem;
    height: 46.625rem;
    border-radius: 0.625rem;
    color: #fff;
    padding: 1.25rem;
    padding-top: 0;

    .list-header {
        height: 3.25rem;
        font-size: 0.875rem;
        line-height: 3.25rem;
    }

    .list-item {
        height: 3.75rem;
        line-height: 3.75rem;
        background-color: #1F2346;
        border-radius: 0.625rem;
        margin: 1px 0;

        &:hover {
            background-color: #535A90;
        }
    }

    .list-header,
    .list-item {
        display: flex;
        padding: 0 0.625rem;

        span {
            i {
                font-size: 1.25rem;

                &:hover {
                    color: #03C571;
                }

                &:nth-child(2) {
                    &:hover {
                        color: #F961A1;
                    }
                }

                &+i {
                    margin-left: 1.25rem;
                }
            }

            &:nth-child(1) {
                width: 5.625rem;
            }

            &:nth-child(2) {
                width: 12rem;
            }

            &:nth-child(3) {
                width: 24.5rem;
            }

            &:nth-child(4) {
                width: 20rem;
            }

            &:nth-child(5) {
                text-align: center;
                width: 6.375rem;
            }
        }
    }
}

.profiles-group-wrapper,
.account-detail-wrapper {
    .btn-box {
        margin-top: 1.25rem;
        display: flex;
        height: 2.5rem;
        line-height: 1;

        button:nth-child(2) {
            background-color: #03C571;
        }
    }


    .btn-submit {
        width: 7.5rem;
        height: 2.5rem;
        line-height: 1;
        font-size: 0.75rem;
        border-radius: 0.375rem;
        background-color: #2B325E;
        border: 0;
        color: #fff;
        cursor: pointer;
        outline: none;
        text-align: center;
    }
}


.el-dialog {
    background-color: #2B325E;
    border-radius: 0.625rem;

    .el-dialog__header {
        height: 1rem;
        font-size: 1rem;
        text-align: center;
        padding-top: 2.25rem;
        padding-bottom: 1.25rem;

        .el-dialog__title {
            color: #fff;
        }

        .el-dialog__headerbtn {
            top: 0.625rem;
            right: 0.625rem;
            font-size: 1.25rem;
        }
    }

    .el-dialog__footer {
        height: 2.5rem;
        overflow: hidden;
        margin-top: 1.25rem;
        padding: 0;
        text-align: center;

        button {
            background-color: #03C571;
        }
    }
}

.dialog-middle {
    .el-dialog {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.clear-comfirm {
    .el-dialog {
        height: 13rem;
        width: 28.75rem;
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .el-dialog__header {
        height: 1.875rem;
        padding: 0;
    }

    .el-dialog__body {
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        color: #fff;
        font-size: 0.875rem;
    }

    .el-dialog__footer {
        button {
            background-color: #1F2346;

            &+button {
                margin-left: 1.25rem;
            }

            &:nth-child(2) {
                background-color: #03C571;
            }
        }
    }
}

.account-detail-wrapper {
    .breadcrumb {
        display: flex;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        height: 1rem;

        i {
            margin-right: 0.625rem;
        }
    }

    .btn-box {
        button:last-child {
            background-color: #57BDFF;
            margin-left: auto;
        }

        button+button {
            margin-left: 1.25rem;
        }
    }

    .dialog-new-accout {
        .el-dialog {
            height: 36.125rem;
            width: 30.625rem;
        }

        .el-dialog__body {
            height: 26.625rem;
            padding: 0 1.25rem;
            overflow: hidden;

            textarea {
                height: 100%;
                resize: none;
                border: none;
                background-color: #1F2346;
                color: #fff;
            }
        }
    }
}

.profiles-group-wrapper {
    .search-box {
        height: 2.5rem;
        overflow: hidden;

        .right {
            float: right;

            i {
                position: absolute;
                right: 0.625rem;
            }
        }

        .left {
            float: left;
        }

        button {
            margin-left: 1.25rem;
            position: relative;

            &:nth-child(2) {
                background: linear-gradient(90deg, #03C571, #4CC591);
            }

            &:nth-child(4) {
                text-align: left;
                background: linear-gradient(90deg, #57BDFF, #24D4FF);
            }

            &:nth-child(3) {
                text-align: left;
                background: linear-gradient(90deg, #F983B5, #F961A1);
            }
        }
    }

    .btn-box {
        justify-content: space-between;
    }

    .dialog-new-group {
        .el-dialog {
            height: 15.75rem;
            width: 28.75rem;
        }

        .el-dialog__body {
            height: 6.25rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .dialog-new-profile {
        .el-dialog {
            width: 50rem;
            height: 49.875rem;
        }

        .el-dialog__body {
            padding-top: 0;
            padding-bottom: 0;
            height: auto;

            .form-box {
                display: flex;
                height: auto;
            }

            .el-form {
                flex: 1;

                &+.el-form {
                    margin-left: 1.25rem;
                }

                .el-form-item {
                    height: auto;
                    margin-bottom: 1.25rem;

                    &.card-expiry {
                        .el-form-item__content {
                            display: flex;
                        }

                        .el-input {
                            flex: 1;

                            &+.el-input {
                                margin-left: 1.25rem;
                            }
                        }
                    }

                    .el-form-item__label {
                        color: #03C571;
                        font-size: 0.875rem;
                        height: 0.875rem;
                        margin-bottom: 1.25rem;
                        padding: 0;
                        line-height: 0.875rem;
                    }

                    input {
                        padding-left: 0.625rem;
                    }
                }
            }
        }
    }
}