.task-main {
    padding: 1.25rem;
    padding-left: 0;

    >.el-main {
        padding: 0;
    }
}

.create-task-group {
    overflow: hidden;

    .el-main {
        background: #202446;
        border-radius: 0.625rem;

        h3,
        .el-form-item__label {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        h3 {
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            height: 1rem;
        }

        .el-form {

            label,
            .el-form-item,
            .el-form-item__content {
                height: auto;
                color: #FFFFFF;
                padding: 0;
                font-size: 0.875rem;
            }

            .el-form-item__label {
                line-height: 2.5rem;
                height: 2.5rem;
                margin-top: 0.3125rem;
            }

            .el-input>input {
                background-color: #2B315D;
                border: 1px solid #2B315D;
                border-radius: 0.375rem;

                &::-webkit-input-placeholder {
                    color: #4D5389;
                }
            }

            .el-form-item,
            .el-input,
            .el-select {
                margin-bottom: 0;
                margin-left: 0;
            }

            .task-name {
                width: 15rem;
            }

            .task-sku {
                width: 31.25rem;
            }

            .item-select {
                width: 15rem;
                display: inline-block;
                margin-right: 1.25rem;
            }

            .item-checkbox-group {
                margin-top: 1.25rem;
            }

            .item-number {
                margin-top: 0.875rem;
                margin-left: 10.25rem;
                margin-right: 1.25rem;
                background-color: #1F2346;
                width: 3.5rem;
                display: inline-block;

                .el-input-number {
                    width: 3.5rem;
                }

                .el-input>input {
                    font-size: 0.75rem;
                    background-color: #1F2346;
                    border: 0;
                    padding: 0;
                    color: #fff;
                }

                span {
                    background-color: #1F2346;
                    border: 0;
                    width: 1rem;
                    color: #fff;
                    font-size: 0.8125rem;
                    line-height: 2.5rem;
                }

                i {
                    font-size: 1rem;
                }
            }

            .item-select {
                &.btn {
                    .el-button {
                        width: 7.5rem;
                        background-color: #03C571;
                        color: #fff;
                        border-radius: 0.375rem;
                        border: 0;
                        height: 2.5rem;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

.create-task {
    >.el-main {
        background: #202446;
        border-radius: 0.625rem;
        color: #fff;
    }

    .header {
        display: flex;
        height: 1.25rem;
        line-height: 1.25rem;
        margin-bottom: 1.25rem;

        h3 {
            font-size: 1rem;
        }

        p {
            margin-left: 0.625rem;
            font-size: 0.875rem;
        }

        i {
            margin-left: 1.25rem;
            font-size: 1.25rem;
        }
    }

    .info {
        display: flex;
        height: 10rem;

        .el-form {
            width: 39rem;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        .el-form-item {
            margin-bottom: 1.25rem;
            height: 2.5rem;

            label {
                padding-right: 0.625rem;
                text-align: left;
                color: #fff;
                font-size: 0.75rem;
                line-height: 2.5rem;
            }

            &:nth-child(odd) {
                width: 17.375rem;
                margin-right: 1.25rem;
            }

            &:nth-child(even) {
                margin-right: 0;
                width: 20.3125rem;
            }

            .el-input,
            .el-select {
                width: 100%;

                input {
                    background-color: #2B325E;
                    border-radius: 0.375rem;
                }

                input::-webkit-input-placeholder {
                    color: #50578C;
                }
            }
        }

        img {
            width: 10rem;
            height: 10rem;
        }
    }

    .btn-group {
        margin-top: 1.25rem;
        display: flex;
        justify-content: flex-end;
        height: 2.5rem;

        button+button {
            margin-left: 1.25rem;
        }
    }

    .list-box {
        background-color: #2B325E;
        margin-top: 1.25rem;
        height: 46.625rem;
        border-radius: 0.625rem;
        padding: 1.25rem;
        padding-top: 0;

        .list-header {
            height: 3.375rem;
            font-size: 0.875rem;
            line-height: 3.375rem;
        }

        .list-item {
            background-color: #1F2346;
            height: 3.75rem;
            line-height: 3.75rem;
            font-size: 0.75rem;
            border-radius: 0.625rem;
            margin: 1px 0;

            &:hover {
                background-color: #535A90;
            }
        }

        .list-header,
        .list-item {
            display: flex;
            padding: 0 0.625rem;

            i {
                font-size: 1.25rem;
            }

            i+i {
                margin-left: 1.25rem;
            }

            span {
                cursor: pointer;

                &:nth-child(1) {
                    width: 26.375rem;
                }

                &:nth-child(2) {
                    width: 7.5rem;
                }

                &:nth-child(3) {
                    width: 10rem;
                }

                &:nth-child(4) {
                    width: 16.25rem;
                }

                &:nth-child(5) {
                    width: 3.75rem;
                    text-align: center;
                }
            }
        }
    }
}